.booking-page{
    width: 100%;
}

.booking-page .header-booking{
    margin: 80px 5vw;
    font-size: 22px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.8);
}

.booking-page .content-booking{
    margin: 80px 3vw 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    min-height: 450px;
}

.booking-page .office-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.booking-page .office-pagination-element{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #acacacbd;
    margin-right: 6vw;
    cursor: pointer;
}

.booking-page .office-pagination-element.active {
    cursor: default;
    color: #000;
    border-bottom: 3px solid #FF601C;
}

.booking-page .calendar-image{
    width: 100%;
}


/***************************MEDIA QUERIES***************************/
@media screen and (max-width:830px) {
.booking-page .office-pagination-element{
    font-size: 22px;
}
.booking-page .calendar-image{
    width: 80%;
}
}

@media screen and (max-width:660px) {
.booking-page .office-pagination-element{
    font-size: 20px;
}
.booking-page .header-booking{
    font-size: 20px;
    text-align: justify;
}
}

@media screen and (max-width:425px) {
.booking-page .office-pagination-element{
    font-size: 20px;
}
.booking-page .office-pagination-element .desc{
    display: none;
}

.booking-page .header-booking{
    font-size: 14px;
}
.booking-page .calendar-image{
    margin-top: -150px;
}
}